<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Beat market admin</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<style>
    h1 {
        display: inline-block;
        background: darkorange;
        margin: 50px;
    }
</style>
<body>

<h1>
    <a th:href="@{/admin/orders}">Orders</a>
</h1>
<h1>
    <a th:href="@{/admin/beats}">Beats</a>
</h1>
<h1>
    <a th:href="@{/admin/users}">Users</a>
</h1>

</body>
</html>